* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}

.img-card {
	max-width: 286px !important;
	max-height: 286px !important;
}
